@import url('https://fonts.googleapis.com/css2?family=Inter&family=Island+Moments&display=swap');
@import url("styles/navbar.css");
@import url("styles/cabecalho.css");
@import url("styles/metricas.css");
@import url("styles/vagas.css");
@import url("styles/ofertas.css");
@import url("styles/comentarios.css");
@import url("styles/rodape.css");

:root {
    --cinzinha: #667085;
    --vermelho: #8E2424;
    --preto: #101828;

}


body {
    font-family: 'Inter', sans-serif;
}